#main-nav {
    background-color: #F0F0F0!important;
    height: 90px;
}

.ui-accordion-header {
    background-color: #5bb04b;
    border: 1px solid #5bb04b;
}

a[class='nav-link'],a[class='dropdown-toggle nav-link'],a[class='dropdown-item']{
    color: #104b2f!important;
}

p #paragraphe1{
    width: 60%!important;
}

a .img-fluid{    
    max-width: 40% !important;
    height: 60px !important;
    width: 200px !important;
}

.navbar-brand{  
    width: 500px!important;
}

#titreHead .hide{
    display: none!important;
}


/*block Meva et JardinEst*/
div.wp-block-column{
    height: 20em!important;
}

div.wp-block-column>h2{
    padding-top: 3.5em!important;
}

/*Accueil*/
.home #page #main-nav #navbarNavDropdown{
	display : none!important;
}

#contentA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 420px!important;
    margin-top: 134.033203125px;
}
#meva{
    width: 35%;
    height: 80%;
    max-width: 35%;
    background: #ffffff;
    flex: 0 1 auto;
    margin-right: 5%;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}

#jardin{
    width: 35%;
    height: 80%;
    max-width: 35%;
    background: #ffffff;
    flex: 0 1 auto;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}

.titleC{
    text-align: center;
    background-color: #104B2F;
    font-family: Aileron;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

#lienLogoMevaAccueil{
    display: flex;
}

#logoMevaAccueil{
    margin-top: 10%;
    flex: 0 0 auto;
}

#logoJardinEstAccueil{
    margin: 80px 20px 0px 20px;
    text-align: center;
    color: #104b2f;
}

#textNavbar{
    font-family: Aileron;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #104B2F;
    margin: 5px 150px 0px 0px;
    flex-shrink: 0;
    flex-grow: 0;
}

#ninjaForme{
    justify-content: center;
}

@media screen and (max-width:518px){
    #contentA {
        flex-direction: column;
    }

    #meva, #jardin{
        max-width: 100%!important;
        width: 100%!important;
    }
}

@media screen and (max-width:766px){
    #logoJardinEstAccueil {
        margin: 0px 20px 0px 20px;
        text-align: center;
        color: #104b2f;
    }
}