#headerMeva{
    background-color: #F2F9F1;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


#logoMTAccueil{
    height: 56px;
    width: 165px;
    max-width: 165px;
    max-height: 56px;
    flex: 0 1 auto;
    top: 30px;
    position: relative;
    display: flex;
}

#logoMTAccueil img{
    max-width: 165px;
    max-height: 56px;
}

#headerMevaDefault #page #wrapper-navbar{
    display: none;
}

#navMeva{
    align-items: center;
    margin-bottom: 30px;
}

#logoMevaAccueil{
    height: 54px;
    width: 135px;
    min-width: 135px;
    flex: 0 1 auto;
}

#myNav{
    flex-direction: row!important;
    max-width: 700px;
    width: 700px;
    justify-content: flex-end;
}

#myNav li:not(:last-child){
    margin-right: 50px;
}

#myNav li a{
    text-decoration: none;
    color: #0a4524;
    font-size: 13px;
}

#myNav li a:hover{
    border-bottom: 2px solid #0a4524;
    padding-bottom: 15px;
}


#myNav li,#myNav li a{
    flex: 0 1 auto;
}
#contentMeva{
    margin-top: 30px;
}

#imgMaisonMeva{
    width:1110px;
    height: 418px;
}

#etiquetteInfo{
    position: absolute;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

#trapezoid {
    height: 58px;
    width: 440px;
    background: linear-gradient(135deg, rgba(16, 75, 47, 0.65) 80%, #fff0 30%);
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#trapezoid:hover {
    cursor: help;
}

#infohover{
    height: 135px;
    width: 340px;
    background: rgba(16, 75, 47, 0.65);
    display: none;
}

#infohover p{
    font-size: 13px;
    color: #ffffff;
    line-height: 8px;
    margin-left: 10px;
}

#infohover .p1{
    margin-top: 5px;
}

#infohover button{
    height: 28px;
    width: 120px;
    margin-left: 10px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
    font-size: 13px;
    color: #104B2F;
}

div .show{
    display: block!important;
    position: relative;
    animation-name: animationEtiquette;
    animation-duration: 1s;  
    animation-fill-mode: forwards;
}

@keyframes animationEtiquette {
    from {bottom: -58px;}
    to {bottom: 0px;}
}



.phrase {
    color:#fff;
    font-family: Cabin Condensed;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 0%; /* La valeur de la zone blanche*/
    flex: auto;
}

#imageAccueilMeva #etiquette{
    position: absolute;
    margin-left: -150px;
    width: 160px;
    margin-top: 270px;
}