#main-nav {
    background-color: #F2F9F1!important;
    height: 140px;
}


a[class='nav-link'],a[class='dropdown-toggle nav-link'],a[class='dropdown-item']{
    color: #104b2f!important;
}

a .img-fluid{    
    max-width: 100%;
    max-height: 87px ;
    width: 287px;
    min-width: 100.66px;
    min-height: 50px;
    vertical-align: super;
}

.home #page #main-nav .navbar-brand{  
    flex: 1 1 0%;
}

#titreHead .hide{
    display: none!important;
}


/*block Meva et JardinEst*/
div.wp-block-column{
    height: 20em!important;
}

div.wp-block-column>h2{
    padding-top: 3.5em!important;
}

/*Accueil*/
.home #page #main-nav #navbarNavDropdown{
	display : none!important;
}

#contentA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 420px;
    margin-top: 134.033203125px;
}
#meva{
    width: 35%;
    height: 80%;
    max-width: 35%;
    background: #ffffff;
    flex: 0 1 auto;
    margin-right: 5%;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}

#jardin{
    width: 35%;
    height: 80%;
    max-width: 35%;
    background: #ffffff;
    flex: 0 1 auto;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}

.titleC{
    text-align: center;
    background-color: #104B2F;
    font-family: Aileron;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

#lienLogoMevaAccueil{
    display: flex;
}

#logoMevaAccueilMT{
    margin-top: 10%;
    flex: 0 0 auto;
}

#logoJardinEstAccueil{
    margin: 80px 20px 0px 20px;
    text-align: center;
    color: #104b2f;
}

#textNavbar{
    font-family: Aileron;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #104B2F;

    /*margin: 5px 150px 0px 0px;*/
}

#ninjaForme{
    justify-content: center;
}

.home #page #main-nav .navbar-toggler{
    display: none;
}

.home #page #main-nav #main-nav-label{
    display: none;
}

@media screen and (min-width:601px) and (max-width:767px){
    #main-nav {
        background-color: #F2F9F1!important;
        height: 112px;
    }

    #textNavbar {
        font-family: Aileron;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 29px;
        color: #104B2F;
    }

    .home #page #main-nav .container{
        max-width: 100%;
    }
    a .img-fluid{    
        max-width: 100%;
        max-height: 70px ;
        width: 287px;
        min-width: 100.66px;
        min-height: 60px;
    }
}

@media screen and (min-width:361px) and (max-width:600px){
    #main-nav {
        background-color: #F2F9F1!important;
        height: 112px;
    }

    .home #page #main-nav .navbar-brand{
        width: 100px;
        margin-right: 0;

    }

    .home #page #main-nav .navbar-toggler{
        display: none;
    }

    a .img-fluid{  
        height: 50px;
        width: 148.66px;
        min-width: 100px;
    }

    #contentA {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 74px;
    }

    #meva,#jardin{
        background: #ffffff;
        flex: 0 1 auto;
        margin-right: 5%;
        border: 2px solid #FFFFFF;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
        max-width: 100%!important;
        width: 100%!important;
        /*margin-bottom: 40px;*/
    }
    #textNavbar{
        font-family: Aileron;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 29px;
        color: #104B2F;
        margin: 5px 0px 0px 0px;
        min-width: 221px;
    }

}


@media screen and (max-width:360px){
    
    .home #page #main-nav .container{
        justify-content: center;
        flex-direction: column;
    }

    .home #page #main-nav .navbar-brand{
        width: 200px;
        max-width: 200px;
        margin-right: 0;
    }

    a .img-fluid {
        max-width: 100%;
        height: 60px;
        width: 200px;
    }

    #textNavbar{
        font-family: Aileron;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 29px;
        color: #104B2F;
        margin: 5px 0px 0px 0px;
        min-width: 221px;
    }

    #contentA {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .titleC{
        display: none;
    }

    #meva,#jardin {
        width: 100%;
        max-width: 100%;
        min-height: 82px;
        background: #ffffff;
        flex: 0 1 auto;
        border: 2px solid #FFFFFF;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }
}

