.ui-accordion-header {
    background-color: #5bb04b;
    border: 1px solid #5bb04b;
}

p #paragraphe1{
    width: 60%!important;
}


.navbar-brand{  
    width: 500px!important;
}

#titreHead .hide{
    display: none!important;
}


/*block Meva et JardinEst*/
div.wp-block-column{
    height: 20em!important;
}

div.wp-block-column>h2{
    padding-top: 3.5em!important;
}